body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.userCard {
  color: #fff;
/*   background: green; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 400px;
  height: auto;
  margin: 100px;
  padding: 10px;
  text-align: center;
  font-size:20px;
  border-radius: 15px;
}

address{
  font-style: normal;
  font-size:20px;
}

.userImg{
  width: 20%;
  border-radius: 10px;
}

.websiteLink{
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 5px;
}

a{
  text-decoration: none;
  color:darkblue;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.newCity{
  background: darkblue;
}

.colorCity{
  background: green;
}

.hobbies-list{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.hobbie-item{
  list-style: none;
  display: flex;
  justify-content: space-between;
  background: white;
  color:#000;
  padding:5px;
  margin-bottom:2px;
}

.addContainer{
  display: flex;
  justify-content:flex-start;
  padding: 5px;
}



